// all custom variables

$accentcolor: #ffc700;
$brightaccentcolor: #ef6165;
$textcolor: #2A3F41;
$lighttextcolor: lighten(#489499, 40%);
$linkcolor: #489499;
$linkcolorhover: lighten(#489499, 20%);
$lightcolor: #f4f4f3;

// overwrites of Bootstrap variables stored in src/sass/bootstrap4/_variables.scss

$primary: $textcolor !default;
