// all custom styles

// global

html {
  height: 100%;
}

// to help set footer at the bottom of the browser window, even on short pages
body:not(.home) {
  position: relative;
  margin: 0;
  padding-bottom: 4rem;
  min-height: 100%;
}

#archive-wrapper,
#page-wrapper,
#single-wrapper {
  padding: 30px 0 200px 0;
}

button:focus {
  outline: none;
}

// typography

h1, h2, h3, h4, h5, h6, p, li {
  font-family: $font-family-sans-serif;
  color: $textcolor;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2rem 0 1rem 0;
  font-weight: 300;
}

h1 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.6;
}

p, li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

a {
  color: $linkcolor;
  &:hover {
    color: $linkcolorhover;
    text-decoration: none;
  }
}

.page-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 2rem 0;
}

.page .entry-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 2rem 0;
}

// header

nav.navbar.navbar-expand-md.navbar-light.bg-primary {
  font-family: "Open Sans", sans-serif;
  background-color: #fff !important;
  a {
    color: $linkcolor;
    &:hover {
      color: $linkcolorhover;
      text-decoration: none;
    }
  }
  .navbar-toggler {
    border: none;
  }
}

// homepage

.site_homepage {
  height: 100vh;
  #wrapper-navbar {
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  nav.navbar.navbar-expand-md.navbar-light.bg-primary {
    background-color: transparent !important;
    a {
      color: #fff;
    }
  }
}

.wrapper__home-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: left 70%;
  background-repeat: no-repeat;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(42,63,65,0.75);
    background: linear-gradient(180deg, rgba(42,63,65,0.95), rgba(42,63,65,0.50) 25%, rgba(72,148,153,0.25));
  }
}

.home-hero-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-hero-content__title,
.home-hero-content p {
  margin-top: 0;
  color: white;
}

.home-hero-content__title {
  padding-bottom: 20px;
  font-size: 5rem;
  font-weight: 400;
  border-bottom: 10px solid white;
}

.home-hero-content p {
  font-size: 2rem;
}

// post pages

.posted-on {
  margin-bottom: 0.5rem;
  display: block;
  .entry-date {
    font-style: italic;
    color: $midlighttextcolor;
  }
}

.acf-blocks,
.posts__custom {
  .acf-block,
  .post {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    ~ .acf-block,
    ~ .post {
      border-top: 1px solid $lighttextcolor;
    }
    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
    img {
      width: 200px;
    }
    .entry-header {
      margin-top: 1rem;
      @include media-breakpoint-up(sm) {
        margin-top: 0;
        &.acf-title {
          margin-top: -6px;
        }
        margin-left: 1rem;
      }
      &.acf-title h4,
      .entry-title {
        margin: 0;
      }
    }
  }
}

.category-exhibitions {
  .acf-blocks,
  .posts__custom {
    .acf-block,
    .post {
      .entry-header {
        @include media-breakpoint-up(sm) {
          margin-top: -6px;
        }
      }
    }
  }
}

a time,
time {
  color: $textcolor;
}

#single-wrapper .entry-header {
  margin-bottom: 3rem;
}

.wp-block-embed,
.wp-block-image,
.wp-block-gallery,
.wp-block-embed-twitter,
.wp-block-embed-instagram {
  margin: 2rem 0;
}

p + .wp-block-embed,
p + .wp-block-image,
p + .wp-block-gallery,
p + .wp-block-embed-twitter,
p + .wp-block-embed-instagram {
  margin-top: 3rem !important;
}

.wp-block-embed + p,
.wp-block-image + p,
.wp-block-gallery + p,
.wp-block-embed-twitter + p,
.wp-block-embed-instagram + p {
  margin-top: 3rem !important;
}

.wp-block-gallery {
  &.columns-2 {
    width: 100%;
    .blocks-gallery-image img,
    .blocks-gallery-item img {
      width: 100%;
    }
    @include media-breakpoint-up(sm) {
      width: 60%;
      margin: 2rem auto;
    }
  }
}

// post images

.wp-block-image figcaption {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  color: $textcolor;
}

@include media-breakpoint-up(xxl) {

  .offset-left {
    float: left;
    margin-left: -200px;
    margin-right: 40px;
  }

  .offset-right {
    float: right;
    position: relative;
    left: 200px;
    margin-left: -160px;
  }

}

// post galleries

#colorbox.advgb_lightbox #cboxClose {
  top: -40px !important;
  bottom: auto !important;
}

// writing and consulting

.acf-blocks {
  .acf-block {
    img {
      width: 100px;
      margin-bottom: 1rem;
      @include media-breakpoint-up(sm) {
        margin-right: 1rem;
      }
    }
    .entry-header {
      margin-top: 0;
      @include media-breakpoint-up(sm) {
        margin-left: 0;
      }
      &.acf-title p {
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  }
}

.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
  display: block;
}

.wp-block-gallery .blocks-gallery-image figure,
.wp-block-gallery .blocks-gallery-item figure {
  display: block;
}

.wp-block-gallery.is-cropped {
  .blocks-gallery-image figure,
  .blocks-gallery-item figure {
    display: flex;
    flex-direction: column;
  }
}

.wp-block-gallery:not(.is-cropped) {
  .blocks-gallery-image figure,
  .blocks-gallery-item figure {
    height: auto;
  }
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  position: relative;
  top: 0;
  padding: 10px 5px;
  text-align: left;
  color: $textcolor;
  background: white;
}

// about page

.site-main__about {
  @include media-breakpoint-up(md) {
    .entry-content {
      display: flex;
    }
  }
}

.about-img {
  width: 50%;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-right: 2rem;
  @include media-breakpoint-up(md) {
    flex: 1 0 300px;
  }
}

// recommendations

.recommendations-header {
  padding-top: 2rem;
}

.recommendations-subheader {
  padding-bottom: 1rem;
  font-weight: 300;
  font-style: italic;
}

.rec-list {
  margin-left: 0;
  padding: 0;
  list-style: none;
}

.rec-list__item {
  padding-bottom: 0.5rem;
  ~ .rec-list__item {
    border-top: 1px solid $lighttextcolor;
  }
}

.rec-list__text {
  margin: 1rem 0 0.5rem 0;
}

.rec-list__description {
  margin: 1rem 0 0 0;
}

.rec-list__read-more {
  font-size: 80%;
}

// footer

#wrapper-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.site-info p {
  font-size: 80%;
}
