// all custom variables

$accentcolor: #ffc700;
$brightaccentcolor: #ef6165;
$textcolor: #2A3F41; // rgb(42,63,65);
$lighttextcolor: lighten(#489499, 40%);
$linkcolor: #489499; // rgb(72,148,153);
$linkcolorhover: lighten(#489499, 20%);
$lightcolor: #f4f4f3;

// overwrites of Bootstrap variables stored in src/sass/bootstrap4/_variables.scss

$primary: $textcolor !default;
$navbar-light-color: $linkcolor;

$grid-breakpoints: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px
  ),
  $grid-breakpoints
);
